{% extends "layout.html" %}
{% block body %}
    <style>
    body {
        margin: 0;
        overflow: hidden;
        font-family: 'Lato', sans-serif;
    }
    h2{
        font-family: 'Lato', sans-serif;
    }
    h3{
        padding:20px;
        font-family: 'Lato', sans-serif;
    }

    #link {
        position: absolute;
        top: 0px; width: 100%;
        color: #ffffff;
        padding: 5px;
        font-family:Monospace;
        font-size:13px;
        font-weight: bold;
        text-align:center;
    }
    a {
        color: #ffffff;
        font-family: 'Lato', sans-serif;
    }
    .inputdiv div{
        text-align:center;
    }
    input{
        margin: 8px 0;
        padding: 12px 20px;
        padding: 12px 20px;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
        align-self: center;
    }
    .submit-button{
        color:#ffffff;
        background-color: #333333;
        border: 2px solid black;
        width: 15em;
        font-family: 'Lato', sans-serif;
    }
    </style>
<div id="container"></div>

<div id="link">
<h1 style="padding:40px "><strong>MovieSurfer</strong></h1>
    <h3>AT&T Shape Hackathon</h3>
    <h3>Please login with twitter account:</h3>
    <form method="post" action="{{ url_for('index') }}" enctype=multipart/form-data>
        <div class="inputdiv">
            <input type="text" name="UserName">
            <br>
            <input type="password" name="Password">
        </div>
        <input class="submit-button" type="submit" value="SUBMIT">
    </form>

<!-- brussel sprouts end -->
    </div>

<!-- <div id="info">Loading music<span id="loading_dots"></span></div> -->

<!-- <script src="js/Animation.js"></script>--> <!--not working, check versions -->
<!-- <script src="js/stats.js"></script> -->






{% endblock %}
