<html>
<head>
    <title>Shape SWAG</title>

    <script src="{{ url_for('static', filename='js/three.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/three.js')}}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/stylesheet_secondary.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="{{ url_for('static', filename='js/Detector.js')}}"></script>

    <script src="{{ url_for('static', filename='js/OrbitControls.js')}}"></script>
    <script src="{{ url_for('static', filename='js/THREEx.KeyboardState.js')}}"></script>
    <script src="{{ url_for('static', filename='js/THREEx.FullScreen.js')}}"></script>
    <script src="{{ url_for('static', filename='js/THREEx.WindowResize.js')}}"></script>
    <script src="{{ url_for('static', filename='js/PointerLockControls.js')}}"></script>
    <script src="{{ url_for('static', filename='js/STLLoader.js')}}"></script>
    <script src="{{ url_for('static', filename='js/Nighttime.js')}}"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='js/FirstPersonControls.js')}}"></script>
    <script src="{{ url_for('static', filename='js/DeviceOrientationControls.js')}}"></script>

    <!-- jQuery code to display an information button and box when clicked. -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js')}}"></script>
    <link rel=stylesheet href="{{ url_for('static', filename='css/jquery-ui.css')}}" />
    <link rel=stylesheet href="{{ url_for('static', filename='css/info.css')}}"/>
    <script src="{{ url_for('static', filename='js/info.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vr/WebVR.js')}}"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-sidebar w3-black w3-bar-block" style="width:15%">
        <a class="w3-bar-item w3-button" href="{{ url_for('index') }}" class="">Home</a>
        <a class="w3-bar-item w3-button" href="{{ url_for('Browse') }}" class="">Browse</a>
        <a class="w3-bar-item w3-button" href="{{ url_for('Select') }}" class="">Select</a>
        <a class="w3-bar-item w3-button" href="{{ url_for('Back') }}" class="">Back</a>
        <a class="w3-bar-item w3-button" href="{{ url_for('Done') }}" class="">Done</a>
    </div>
    <div style="margin-left:17%">
        <center>
            {% block body %}{% endblock %}
        </center>
    </div>
</body>
<html>
